{%  extends 'base.html' %}
{% block main %}

    <form method="POST">
            {% csrf_token %}
            <table class="table table-sm">
                {{ form.as_table }}
            </table>
            <button class="btn btn-success btn-sm" type="submit">Calcular</button>
            <a class="btn btn-warning btn-sm" href="{%  url 'ajuste_dose:ajustedose' %}">Limpar</a>
            <a class="btn btn-primary btn-sm" href="?hd=sim">Hemodiálise</a>
        </form>

        <br><br>


    {% include 'ajuste_dose/atb_table.html' %}
{% endblock main %}